.workspace-tabs {
  padding-top: 0px; }

.tab-content {
  border-top: 1px solid #eee; }

.workspace-tabs .tabs .tab a {
  position: relative;
  top: 8px; }

.command-card.card {
  margin: 2px;
  position: relative;
  border-top: 2px solid #fff;
  padding: 0; }

.command-card.card.active {
  border-top: 2px solid #26a69a; }

.command-card:hover {
  cursor: pointer;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.command-card .card-content .card-title {
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 25px; }

.param-key {
  margin-right: 3px;
  text-transform: uppercase;
  font-size: .7em; }

.param-value {
  border: 1px solid #eee;
  padding: 3px 6px;
  max-width: 400px; }

.tab-content .col.child-commands {
  padding: 0;
  position: relative;
  left: 25px; }

.child-commands .command-card .card-title {
  font-size: 1.1rem; }

.command-card.card .card-content {
  padding: 10px 13px 13px; }

.command-card .command-param {
  font-size: 1.1rem;
  font-weight: 300;
  margin-right: 15px;
  display: inline-block;
  line-height: 2.2rem; }

.child-commands .command-card .command-param {
  font-size: 1rem; }

.command-card .delete-btn {
  position: absolute;
  top: 0px;
  right: -15px;
  opacity: .6; }

.command-card .delete-btn:hover {
  opacity: 1; }

.form-panel {
  height: 100%;
  position: fixed;
  right: 0;
  width: 40%;
  top: 79px; }

.form-panel .form-title {
  font-weight: 200;
  font-size: 1.6rem;
  margin-bottom: 30px; }

.form-panel .input-field {
  margin: 15px 0; }

.form-panel .input-field label,
.form-panel .input-field input,
.form-panel .input-field select {
  font-size: 1rem; }

.form-panel .form-actions {
  margin-top: 40px; }

.select-wrapper {
  top: 10px; }

.form-panel .btn {
  box-shadow: none; }

#execute-btn {
  position: fixed;
  top: 5px;
  right: 15px;
  height: 35px;
  width: 160px; }

#execute-btn:hover {
  opacity: .85; }

.new-command-btn.btn-floating {
  position: absolute;
  right: auto;
  left: 10px;
  bottom: -60px;
  opacity: 0.65; }

.new-command-btn.btn-floating:hover {
  opacity: 1; }

.console {
  background: #101010;
  min-height: 200px;
  min-width: 400px;
  color: #ffef70;
  font-size: 1.3em;
  padding: 5px 10px; }

.waves-effect.waves-light-teal .waves-ripple {
  background-color: rgba(178, 223, 219, 0.65); }
