.powershell-runner {
	// text-align:center;
	padding: 10px;
	color:#fff;
	h2 {
		font-weight:200;
		font-size:1.3rem;
		margin:5px 0;
	}
	.console {
		text-align:left;
		border-radius: 3px;
    	border: 1px solid #fff8c8;
	}
}