.row.workspace-tabs {
	padding-top:0px;

	.tab-headers {
	    position: fixed;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    background: #fff;
	    z-index: 1;
	    border-bottom: 1px solid #eee;
		.tabs .tab a {
		    position: relative;
		    top: 8px;
		} 
	}

	.tab-content {
	    position:absolute;
	    top:48px;
	    z-index:0;
	}
}

